<div class="container" id="explore-app">
    <div>
        <div id="explore-hero">
            <h2>Explore <%= @study_count %> frequency studies across <%= @geographic_region_count %> geographic regions</h2>
            <%= form_with url: explore_path, method: :get, id: 'explore-search' do |form| %>
                <%= form.label :query, 'Search by title, population, geographic region and more...' %>
                <%= form.text_field :query, placeholder: 'Try searching for "africa"', value: params[:query], required: true %>
                <%= form.submit 'Search', class: 'btn', style: 'display: inline-block; margin-top: 0.3rem;' %>
            <% end %>
        </div>
        <div id="explore-results">
            <% if @studies %>
                <% @studies.each do |study| %>
                    <article class="explore-result">
                        <div class="left">
                            <h4><%= link_to study.name, study_detail_path(study) %></h4>
                            <p>
                                <span role="img">🌍</span> <%= study.geographic_region.name %> |
                                <span role="img">👣</span> <%= study.population.name %>
                            </p>
                            <p>
                                <span class="label"><%= study.locus_count || 0 %> loci</span>
                                <span class="label"><%= study.allele_types == 'str_sequence' ? 'sequence-based alleles' : 'length-based alleles' %></span>
                                <% if not study.sample_size_range.size.nil? and study.sample_size_range.size.finite? %>
                                    <% if study.sample_size_range.size > 1 %>
                                        <span class="label"><%= study.sample_size_range.min %> - <%= study.sample_size_range.max %> samples</span>
                                    <% else %>
                                        <span class="label"><%= study.sample_size %> samples</span>
                                    <% end %>
                                <% end %>
                            </p>
                        </div>
                        <div class="right text-right">
                            <p><%= link_to 'More formats & details <span role="img">🔎</span>'.html_safe, study_detail_url(study) %></p>
                            <p><%= link_to 'Download in leapdna format <span role="img">📘</span>'.html_safe, study_detail_path(study, format: :json) %></p>
                        </div>
                    </article>
                <% end %>
                <% if @studies.size == 0 %>
                    <p class="text-center">No results</p>
                <% end %>
            <% else %>
                <p class="text-center">Type in the search field and press enter to see results</p>
            <% end %>
        </div>
        <section id="explore-populations">
            <h3>Geographic regions</h3>
            <ul id="population-taxonomy">
                <%= render partial: 'geographic_region', collection: @geographic_regions %>
            </ul>
        </section>
        <section id="explore-loci">
            <h3>Loci</h3>
            <div id="ideogram-container"></div>

            <table>
                <thead>
                    <th class="text-center">Chromosome</th>
                    <th>Loci</th>
                </thead>

                <tbody>
                    <% @chromosomes.each do |chromosome, loci| %>
                        <tr>
                            <td class="text-center"><%= chromosome %></td>
                            <td><%= loci.map { |locus| link_to locus.id, locus_detail_path(locus) }.join(', ').html_safe %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </section>

        <%= javascript_pack_tag 'chromosomes' %>
    </div>
</div>