<div class="container" id="explore-app">
    <div>
        <div id="explore-hero">
            <h2>Explore <%= @study_count %> frequency studies across <%= @population_count%> populations</h2>
            <%= form_with url: explore_path, method: :get, id: 'explore-search' do |form| %>
                <%= form.label :query, 'Search by title or population' %>
                <%= form.text_field :query, placeholder: 'Try searching for "africa"', value: params[:query] %>
                <%= form.submit 'Search', class: 'btn', style: 'display: inline-block; margin-top: 0.3rem;' %>
            <% end %>
        </div>
        <div id="explore-results">
            <% if @studies %>
                <% @studies.each do |study| %>
                    <article class="explore-result">
                        <div class="left">
                            <h4><%= study.population.name %></h4>
                            <p><%= study.name %></p>
                            <p>
                                <span class="label"><%= study.locus_count || 0 %> loci</span>
                                <span class="label"><%= study.study_type == 'str_sequence' ? 'sequence-based alleles' : 'length-based alleles' %></span>
                            </p>
                        </div>
                        <div class="right text-right">
                            <p><%= link_to 'More formats & details <span role="image">🔎</span>'.html_safe, '#' %></p>
                            <p><%= link_to 'Download in leapdna format <span role="image">📘</span>'.html_safe, '#' %></p>
                        </div>
                    </article>
                <% end %>
                <% if @studies.size == 0 %>
                    <p class="text-center">No results</p>
                <% end %>
            <% else %>
                <p class="text-center">Type in the search field and press enter to see results</p>
            <% end %>
        </div>
        <section id="explore-populations">
            <h3>Populations</h3>
            <ul id="population-taxonomy">
                <%= render partial: 'population', collection: @populations %>
            </ul>
        </section>
    </div>
</div>