<div class="container" id="explore-app">
  <h2><%= @locus.id %></h2>
  <dl>
    <dt>Chromosome</dt>
    <dd><%= @locus.chromosome %></dd>

    <dt>GRCh38 coordinates</dt>
    <dd>
      <% if @locus.grch38_start and @locus.grch38_end %>
        <%= @locus.grch38_start %> - <%= @locus.grch38_end %> <%= link_to 'View in NCBI Genome Browser', genome_browser_url(@locus), target: '_blank' %>
      <% else %>
        <p><em>Coordinates unavailable. You can help by <a href="mailto:elias@hernandis.me">reporting them</a>.</em></p>
      <% end %>
    </dd>

    <dt>Known length-based alleles</dt>
    <dd>
        <p><%= @locus.alleles.sort_by { |allele| allele.name.to_f }.map(&:name).join(', ') %> (<%= @locus.alleles_count %> total)</p>
        <p class="help-text">Alleles 1 and 99 may indicate shorter or longer alleles with frequencies below the MAF.</p>
    </dd>
  </dl>

    <figure>
        <div id="freqchart"></div>
        <figcaption>Average allele frequencies accross all populations and all geographic regions.</figcaption>
    </figure>
  
  <p><strong>Source for locus metadata:</strong>
    <% if @locus.source %>
      <%= render_reference(@locus.source) %>
    <% else %>
      <em>Source unavailable. You can help by <a href="mailto:elias@hernandis.me">reporting one</a>.</em>
    <% end %>
  </p>

</div>


<%= javascript_pack_tag 'locus' %>