<div class="container" id="explore-app">
  <div>
    <div id="study-detail">
      <section>
        <h3><%= @study.name %> <small class="text-mono text-muted">(<%= @study.id %>)</small></h3>
        <p>
          <span role="img">🌍</span> Geographic region: <%= link_to @study.geographic_region.name, explore_path(query: @study.geographic_region.id) %> |
          <span role="img">👣</span> Population: <%= link_to @study.population.name, explore_path(query: @study.population.id) %>
        </p>
        <h2><%= @study.source.title.tr('{}', '') %></h2>
        <p><%= @study.source.authors %></p>
        <p>
          <strong>DOI:</strong> <%= link_to @study.source.doi, @study.source.doi_url, target: '_blank' %>
          <% if @study.source.journal %>
            | <strong>Journal:</strong> <%= @study.source.journal %>
          <% end %>
        </p>
        <details>
          <summary>Abstract</summary>
          <p class="readable-copy"><%= auto_link(@study.source.abstract.html_safe) %></p>
        </details>
        <details>
          <summary><%= @study.locus_count || 0 %> loci included</summary>
          <p>Click on the name of a locus to get more information about it.</p>
          <table>
            <thead>
              <tr>
                <td>Locus</td>
                <td>Chromosome</td>
                <td>Sample size</td>
                <td># Alleles</td>
                <td>H_obs</td>
                <td>H_exp</td>
              </tr>
            </thead>
            <tbody>
              <% @study.locus_annotations.order_by_chromosome.each do |la| %>
                <tr>
                  <td><%= link_to la.locus_id, locus_detail_path(la.locus_id) %></td>
                  <td class="text-center"><%= la.locus.chromosome %></td>
                  <td class="text-center"><%= la.sample_size %></td>
                  <td class="text-center"><%= la.allele_count %></td>
                  <td class="text-center"><%= la.h_obs || '-' %></td>
                  <td class="text-center"><%= la.h_exp || '-' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </details>
      </section>
      <aside>
        <p><%= link_to 'Download in leapdna format <span role="img">📘</span>'.html_safe, study_detail_url(@study.id, format: :json) %></p>
        <div id="explore-download">
        </div>
      </aside>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'explore' %>